<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div v-if="show1">hello world</div>
      <p v-if="show2">love and peace</p>
    </div>
    <script>
      new Vue(function () {
        el: '#app'
        data: {
          show1: true
          show2: true
        }
      })
    </script>
  </body>
</html>
